.title {
	font-family: "Papyrus";
	text-align: center;
	margin: 1em;
}

.twot-name {
	width: 20%;
	text-align: center;
}

.twot-text {
	width: 35%;
	text-align: center;
}

.loading {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.button-container {
	display: flex;
	justify-content: center;
	margin: 1em;
}